@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../../";
@source "../../../content/**/*";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

:root {
  --ui-container: var(--container-8xl);
}

/* .prose h2, .prose h3,.prose h4, .prose h5 {
  font-weight: 600;
}

.prose a {
  color: var(--color-primary-600);
}

.prose :is(h1, h2, h3, h4) a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.prose code::before, .prose code::after {
  content: '';
}

.prose code {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Fira Code", monospace;
}
 */

